<div class="panel panel-primary" style="width: 50% ; margin : 5%;" >
	<div class="panel-heading">
	<h5 style="font-weight: bold;">Customer List</h5>
	</div>
	<table class="table table table-striped table-bordered">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Password</th>
		</tr>
		<tr *ngFor="let customer of customers">
			<td>{{customer.id}}</td>
			<td>{{customer.custName}}</td>
			<td>{{customer.password}}</td>
		</tr>

	</table>
	<button (click)="getAllCustomers()" style="margin-top: 5%">Update List</button>
</div>
