<div class="panel panel-primary" style="margin: 5%">
	<div class="panel-heading">
		<h5 style="font-weight: bold ">All Coupons</h5>
		<span>Sort Coupons by Type : </span>
		<select name="filter" id="filter" (change)="onChangeGet()" class="form-control inputstl"
		style="width: 10%" [(ngModel)]="filter" > 
			<option value="All Coupons">All Coupons</option>
			<option value="RESTAURANTS">RESTAURANTS</option>
			<option value="ELECTRICITY">ELECTRICITY</option>
			<option value="FOOD">FOOD</option>
			<option value="HEALTH">HEALTH</option>
			<option value="SPORTS">SPORTS</option>
			<option value="CAMPING">CAMPING</option>
			<option value="TRAVELLING">TRAVELLING</option>

		</select>
	</div>
	<table class="table table-striped table-bordered">
		<tr>
			<th>Id</th>
			<th>Title</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Amount</th>
			<th>Coupon Type</th>
			<th>Message</th>
			<th>Price</th>
			<th>Image</th>
		</tr>
		<tr *ngFor="let coupon of _couponList">
			<td>{{coupon.id}}</td>
			<td>{{coupon.title}}</td>
			<td>{{coupon.startDate}}</td>
			<td>{{coupon.endDate}}</td>
			<td>{{coupon.amount}}</td>
			<td>{{coupon.type}}</td>
			<td>{{coupon.message}}</td>
			<td>{{coupon.price}}</td>
			<td>{{coupon.image}}</td>
		</tr>
		<button (click)="getCoupons()">UpDate</button>
	</table>
</div>
